<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<script type="text/javascript" src="__PUBLIC__/OpenFC/swfobject.js"></script>
	<script type="text/javascript" src="__PUBLIC__/OpenFC/llbchart.js"></script>

	<script type="text/javascript" src="__PUBLIC__/OpenFC/jquery-2.1.0for-development.js"></script>
	<script type="text/javascript" src="__PUBLIC__/OpenFC/save_image.js"></script>

	<link rel="stylesheet" href="__PUBLIC__/css/home.css" type="text/css" media="screen">
	<link rel="stylesheet" href="__PUBLIC__/css/reset.css" type="text/css" media="screen">

</head>
<body onload="drawline(0)">
	<!-- 头部 -->
	<include file="Public/header"/>
	<!-- 右边 -->
	<include file="Public/right"/>

</body>
</html>
