<html>
<head><meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<script type="text/javascript" src="__PUBLIC__/OpenFC/swfobject.js"></script>
<script type="text/javascript" src="__PUBLIC__/OpenFC/llbchart.js"></script>
</head>
<body onload="drawline(0)">
<p>我要在下面显示内容</p><br/>
<div id="llb"></div><br/>
<p>画图类型(0 or 1)<input type="text" id="page"><button onclick="reloadData()">重图</button></p><br/>
<p>设计标题<input type="text" id="title"><button onclick="setTitle()">重命名</button></p><br/>
 <a href="javascript:setTitle();">set title</a>
<!--div style="width:400; height: 350px; border: 5px solid #D1EFD1;" id="llb1"-->
</body>
</html>